@model Commerce.Models.Account

<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="\Content\login_memberStyle.css">
  </head>
  <body>
      <div class="container-fluid" id="container-fluid">
          <div class="row" id="A">
              <div class="col-12" id="login">
                  <h1>LOGIN</h1>
              </div>
          </div>
          <div class="row" id="B">
              <div class="col-12" id="Ba">
                  <img id="logo-small" src='/images/logo.png' alt='' />
              </div>
              <div class="col-12">
                  <input type="text" id="memberid" class="form-control" placeholder="輸入你的帳號 (非信箱)" aria-label="Account" aria-describedby="memberid">
                  <input type="text" id="memberpassword" class="form-control" placeholder="密碼" aria-label="Password" aria-describedby="memberpassword">
              </div>
              <div class="col-12">
                  <button id="loginBtn" type="button" class="btn btn-outline-dark">登入</button>
              </div>
          </div>
          <div class="row" id="C">
              <div class="col-12">
                  <button type="button" id="wantRegisterBtn" class="btn btn-outline-light" onclick="location.href = '@Url.Action("SignUp","Home")';">新會員註冊</button>
              </div>
          </div>
      </div>


      <script>
          $("#loginBtn").on("click", function (event) {
              var id = $("#memberid").val();
              var password = $("#memberpassword").val();
              if (isNullOrWhiteSpace(id) || isNullOrWhiteSpace(password)) {
                  alert("帳號密碼不可為空白");
              }
              else
              {
                  $.ajax({
                      type: "POST",
                      url: "/Home/Login_Member",
                      data: '{memberid: "' + id + '", memberpassword: "' + password + '"}',
                      contentType: "application/json; charset=utf-8",
                      dataType: "json",
                      success: function (response) {
                          alert("Hello: " + response.memberid + " .\nPassword: " + response.memberpassword);
                          location.href = '@Url.Action("Home","Home")';
                      },
                      failure: function (response) {
                          alert(response.responseText);
                      },
                      error: function (response) {
                          alert(response.responseText);
                      }
                  });



              }
        });

        function isNullOrWhiteSpace(str) {
            return (!str || str.length === 0 || /^\s*$/.test(str))
        }

      </script>

  </body>
</html>