<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="\Content\login_memberStyle.css">
  </head>
  <body>
    <div class="container-fluid" id="container-fluid">
        <div class="row" id="A">
            <div class="col-12" id="login">
                <h1 >LOGIN</h1>
            </div>            
        </div>
        <div class="row" id="B">
            <div class="col-12" id="Ba">
                <img id="logo-small" src='/images/logo.png' alt=''/>
            </div>
            <div class="col-12">
                <input type="text" id="memberid" class="form-control" placeholder="輸入你的帳號 (非信箱)" aria-label="Account" aria-describedby="memberid">
                <input type="text" id="memberpassword" class="form-control" placeholder="密碼" aria-label="Password" aria-describedby="memberpassword">
            </div>
            <div class="col-12">
                <button id="loginBtn" type="button" class="btn btn-outline-dark" onclick="location.href = '@Url.Action("Home","Home")';">登入</button>
            </div>
        </div>
        <div class="row" id="C">
            <div class="col-12">
                <button type="button" id="wantRegisterBtn" class="btn btn-outline-light" onclick="location.href = '@Url.Action("SignUp","Home")';">新會員註冊</button>
            </div>
        </div>   
    </div>
   </body>
</html>