<!doctype html>
<html lang="en">
  <head>
    <title>首頁 - TODAY | Today, Be myself.</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/originStyle.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
  <body>
    <div class="container-fluid" id="container-fluid">
        <div class="row" id="A">
            <div class="col">
                <nav class="navbar navbar-expand-md navbar-light fixed-top" style="z-index: 0;background-color:rgba(255, 255, 255, 0);">
                    <a class="navbar-brand" href="/category.html">
                        <img src="/images/logo.png" width="70" class="d-inline-block align-center" alt="">
                        TODAY
                    </a> 
                </nav>
                <div class="col mt-5" >
                    <div>
                        <div id="searchbar1" style="position:fixed;left:30%;" >
                            <div class="input-group mb-3">
                                <input type="text" style="text-align: center;" class="form-control" placeholder="關鍵字" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-dark" type="button">搜尋本站</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>     
            <div class="col mt-5">
                <div style="position: absolute; right: 2em;" >
                    USEr9487 <img src='http://placekitten.com/30/30' alt=''/>
                    歡迎回來！<br>我們等你好久了！
                    <a href="/login_Member.html"><input type="submit" class="btn btn-outline-danger"value="登出"/></a>
                </div>
            </div>          
        </div>
        <table class="table" style="height:80%; min-height: 500px;">
            <tr>
                <!--左邊小白框B+內框C+分類連結-->   
                <td style="width:25%; min-width: 180px;">
                    <div class="row" id="B-categoryButton">
                        <div class="col">
                            <div class="row" id="C-categoryButton">
                                <div class="col">
                                    <ul class="nav nav-pills nav-fill" id="categoryList">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/category.html">分類1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/category.html">分類2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/category.html">分類3</a>
                                        </li>
                                    </ul>
                                    <hr>
                                    <ul class="nav nav-pills nav-fill"id="eventList">
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">-× ✿ ×-<br>六月活動<br>敬請期待</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">-× ✿ ×-<br>七月活動<br>敬請期待</a>
                                        </li>
                                    </ul>                           
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <!--右邊大白框B+內框C+內容-->
                <td style="width:75%;">
                    <div class="row" id="B">
                        <div class="col-12" id="Ba">
                            <div class="row" id="C">
                                <div class="col-12" id="Ca">
                                    <!--空內容-->
                                </div>
                            </div>
                        </div> 
                    </div> 
                </td>
            </tr>   
        </table>  
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>