#container-fluid {
    background: -webkit-linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.38) 50%, rgba(255, 255, 255, 0) 100%), url(https://i.imgur.com/h0SibEc.png);
    background-blend-mode: normal, color-burn, normal;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#A {
    height: 8em;
}

#B {
    position: relative;
    margin: auto;
    left: 2em;
}

/*左*/

#left {
    display: block;
    margin: auto;
    position: fixed;
    left: 3em;
    height: 580px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    width: auto;
    overflow-y: scroll;
}

/*中間*/

#right {
    width: 500px;
    display: block;
    margin: auto;
    position: relative;
    left: -12%;
    height: 580px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

/*右*/

#text {
    background: rgba(255, 255, 255, 0.5);
    font-family: Microsoft YaHei;
    font-size: 26px;
    text-align: center;
    color: #000000;
    position: absolute;
    right: 7em;
    height: 580px;
    border-radius: 50px;
}

#v {
    border-radius: 30px;
}

.productimg {
    position: absolute;
    top: 50px;
    text-align: center;
}

div img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline !important;
    text-transform: none;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    clear: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

#select_size {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: none;
    border: 1px solid #222;
    outline: none;
    -webkit-appearance: none;
    padding: 0 5px;
    line-height: inherit;
    color: inherit;
    cursor: default;
    font-size: 14px;
    position: relative;
    z-index: 3;
}
#select_color {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: none;
    border: 1px solid #222;
    outline: none;
    -webkit-appearance: none;
    padding: 0 5px;
    line-height: inherit;
    color: inherit;
    cursor: default;
    font-size: 14px;
    position: relative;
    z-index: 3;
}

    #select_color option {
        color: #222;
    }

        #select_color option:hover {
            color: #fff;
        }

        #select_color option:checked {
            background: #C0C0C0;
            color: #fff;
        }
    #select_size option {
        color: #222;
    }

        #select_size option:hover {
            color: #fff;
        }

        #select_size option:checked {
            background: #C0C0C0;
            color: #fff;
        }

#selectStyle {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    height: 30px;
    width: 240px;
    border-radius: 0;
    background: #C0C0C0 right center no-repeat;
    background-size: auto 80%;
    color: #fff;
    line-height: 2;
}

    /* 程式碼1 */

    #selectStyle:before {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 10px;
        margin-top: -2.5px;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #fff transparent transparent transparent;
        content: "";
    }

    /* 程式碼1 */

    #selectStyle:after {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 10px;
        margin-top: -3.5px;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #535353 transparent transparent transparent;
        content: "";
    }
