
<!doctype html>
<html lang="en">
<head>
    <style>
        body {
            background: -webkit-linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.38) 50%, rgba(255, 255, 255, 0) 100%), url(https://github.com/hungyunhsuan/JS/blob/master/readmeimage/bg-pic.png?raw=true);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .list {
            padding: 10px 3px 5px 3px;
            background-color: black;
        }

        .pay {
            padding: 10px 3px 5px 3px;
            background-color: #AAAAAA;
        }

        .order {
            padding: 10px 3px 5px 3px;
            background-color: #AAAAAA;
        }

        .finish {
            padding: 10px 3px 5px 3px;
            background-color: #AAAAAA;
        }

        h5 {
            color: white;
            text-align: center;
        }

        #col {
            padding: 0px 0px 0px 25px;
        }

        #buttonstyle {
            width: 90px;
            height: 40px;
            background-color: rgb(240, 139, 169);
            border: 2px blue none
        }

        #p {
            font-size: 20px;
            width: 100px;
            float: left;
        }

        #total {
            font-size: 20px;
            text-decoration: underline;
        }

        p {
            font-size: 20px;
        }

        #col {
            width: 100px;
        }
    </style>
</head>
<body>
    @{
        Html.RenderPartial("navbar");
    }
    <div class="row mt-3">
        <div class="col">
            <div class="list">
                <h5>
                    Step01
                    <p>確認清單</p>
                </h5>
            </div>
        </div>
        <div class="col">
            <div class="pay">
                <h5>
                    Step02
                    <p>運送、付款資料確認</p>
                </h5>
            </div>
        </div>
        <div class="col">
            <div class="order">
                <h5>
                    Step03
                    <p>確認訂單資料</p>
                </h5>
            </div>
        </div>
        <div class="col">
            <div class="finish">
                <h5>
                    Step04
                    <p>完成購物</p>
                </h5>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">購物車</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">預訂購物車</a>
                </li>
            </ul>

        </div>

        <div class="col-4">

            <nav class="nav">
                <a class="nav-link disabled" href="#">數量</a>
                <a class="nav-link disabled" href="#">單價</a>
                <a class="nav-link disabled" href="#">折扣價</a>
                <a class="nav-link disabled" href="#">總計</a>
                <a class="nav-link disabled" href="#">刪除</a>
            </nav>
        </div>


    </div>

    @foreach (var item in (List<BuildSchool.MvcSolution.OnlineStore.Models.Shopping>) @ViewBag.ShoppingCart)
    {
        <div class="row mt-4">
            <div class="col-4">
                <img src="C:\Users\A550\Desktop\購物車\image\skirt.jpg" width="150" height="200">
            </div>

            <div class="col-4">
                <h6>
                    商品: @item.ProductName
                    <br>
                    <br>顏色: @item.Color
                    <br>
                    <br>尺寸: @item.Size
                </h6>
            </div>

            <div class="col-4 " id="col">
                <nav class="nav">
                    <select>
                        <option value="volvo">1</option>
                        <option value="saab">2</option>
                        <option value="opel">3</option>
                        <option value="audi">4</option>
                        <option value="audi">5</option>
                    </select>
                    <a class="nav-link disabled" href="#">NT.300</a>
                    <a class="nav-link disabled" href="#">NT.300</a>
                    <a class="nav-link disabled" href="#">NT.300</a>
                    <a class="nav-link disabled" href="#">
                        <i class="fas fa-trash"></i>
                    </a>
                </nav>
            </div>
        </div>
    }


    &nbsp; &nbsp;
    <HR color="	#888888" size="10" width="100%">


    <div class="row mt-5">
        <div class="col-8">

        </div>
        <div class="col-1">
            <p id="p">總計NT＄:</p>
        </div>

        <div class="col-1" id="col">
            <p id="total"></p>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-8">

        </div>
        <div class="col-1">
            <p id="p">折扣:</p>
        </div>

        <div class="col-1" id="col">
            <p id="discount"></p>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-8">

        </div>
        <div class="col-1">
            <p id="p">應付金額:</p>
        </div>

        <div class="col-1" id="col">
            <p id="cost"></p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-11">
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary" id=buttonstyle>下一步</button>
        </div>
    </div>
    </div>

</body>
</html>